html{
    height: 100%;
}
body {
    margin: 0px 0px 0px 0px;
    background: rgb(255,255,255);
    height: 100%;
}
a{
    color: initial;
    text-decoration: none;
}
.float-right{
    float: right !important;
}
.float-left{
    float: left !important;
}
.left{
    margin: 0;
}
.pageWidth{
    display: table;
    position: relative;
    width: 980px;
    margin: auto;
}
.fullHeight {
    height: 100% !important;
}
.fullWidth{
    width: 100% !important;
}

header{
    display: table; z-index: 99;
    position: fixed; top: 0; left: 0;
    width: 100%; height: 70px; box-sizing: border-box;
    background: transparent;
    transition: background 0.3s linear;
}
.headerSection{
    display: table;
    position: relative;
    width: 100%; height: 50%; box-sizing: border-box;
    margin: auto;
}
.headerSection.pageTtitle{
    margin-left: 20px;
}
.headerPush{
    display: table-cell; vertical-align: middle;
    position: relative;
    height: 100%;
}
.headerWrap {
    display: table;
    position: relative;
    width: 400px;
    margin: auto;
}
.headerPush nav {
    display: table;
    position: relative;
    margin: auto;
}
.menuBtn{
    float: left;
    padding: 5px 10px; margin: 0px 12px;
    font-family: 'The Next Font'; font-size: 18px; 
    color: rgb(250,250,250);
    transition: color 0.3s linear;
}
.menuBtn:hover{
    color: rgb(220,220,220)!important;
}
.menuBtn.promo{
    background: linear-gradient(rgb(0,0,0), rgb(30,30,30)) !important;
    color: white; font-family: 'NEXT ART'; font-size: 14px; font-weight: bold;
    text-align: center;

}
.logo{
    float: left;
    width: 162px; height: 40px;
    background: url(/Resources/Common/falkarna-weblogo-retina-white.png) no-repeat center center / contain;
    transition: background 0.3s linear;
}
.title{
    display: table;
    height: 40px;
    color: white; font-family: 'NEXT ART'; font-size: 25px;
    text-indent: 20px; line-height: 40px; font-weight: bold;
    transition: color 0.3s linear;
}


main{
    display: table;
    position: relative;
    width: 100%; box-sizing: border-box;
    margin: auto;
}


#mediaCanvasCont{
    display: none;
    z-index: 101;
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.9);
}
#mediaCanvasWrap{
    display: table;
    position: relative;
    /*width: calc(100% - 200px); */height: 100%;
    margin: auto;
}
#mediaCanvasPush{
    display: table-cell; vertical-align: middle;
    position: relative;
    width: 100%; height: 100%;
}
#mediaCanvas{
    display: table;
    position: relative;
    width: 100%; /*height: calc(100% - 150px);*/
    background: black no-repeat center center / contain;
}
.closeBtn{
    position: absolute; top: 0; right: 0;
    width: 40px; height: 40px;
    background: rgba(255,255,255,0.8);
    font-size: 35px; color: black;
    line-height: 40px; text-align: center;
    user-select: none;
}
.closeBtn:hover{
    background: red;
    color: white;
    cursor: pointer;
}

.background{
    position: absolute; top: 0; left: 0; right: 0;
    height: calc(100% - 100px); min-height: 300px;
    background: no-repeat center center / cover; background-attachment: fixed;
    transition: opacity 1s;
}
.backPlaceholder{
    position: relative; top: 0; left: 0; right: 0;
    height: calc(100% - 350px); min-height: 300px;
}


/*--- FOOTER ---*/
footer{
    display: table;
    position: relative;
    width: 100%; height: 300px; box-sizing: border-box;
    background: linear-gradient(transparent,/* rgb(235,235,235)*/ rgba(60,60,60, 0.13));
}
.footerPush{
    display: table-cell; vertical-align: middle;
    position: relative;
    width: 100%; height: 100%;
}
.footerContentWrap{
    display: table;
    position: relative;
    width: 100%;
}
.footerContentWrap nav{
    float: right;
}
.footerContentWrap nav .menuBtn{
    color: white !important;
}
.footerLogo{
    width: 240px; height: 240px;
    background: url(Resources/Common/falkarna-weblogo-retina.png) no-repeat center center / contain;
}
.footerTitle{
    float: left;
    display: table;
    width: 400px;
}
.contactInfo{
    float: right;
    font-family: Gravity;
}
.contactInfo tr td:nth-of-type(2){
    padding-left: 40px;
}


/*SCROLL*/
header.scroll{
    background: rgb(245,245,245);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.headerSection.scroll{
    float: left;
    width: auto; height: inherit;
    background: transparent !important;
}
header.scroll .logo{
    background-image: url(Resources/Common/falkarna-weblogo-retina.png);
}
header.scroll .title{
    color: black;
}
header.scroll .menuBtn{
    color: rgb(60,60,60);
}
header.scroll .menuBtn:hover{
    color: rgb(140,140,140)!important;
}


.promotionWrap {
    display: table-cell; vertical-align: middle;
    position: relative;
    height: 100%;
}
.promotionBtn{
    display: none;
    right: 0px;
    height: 120px; width: 120px;
    margin: 0px 10px;
    border-radius: 50%;
    transition: 0.2s;
}
.promotionBtn.real{
    display: table; z-index: 100;
    position: fixed; top: 10px; right: 10px;
    background: linear-gradient(rgb(0,0,0), rgb(30,30,30)) !important;
    color: white; font-family: 'NEXT ART'; font-size: 14px; font-weight: bold;
    text-align: center;
}
.promotionBtn.real:hover{
    background: linear-gradient(rgb(30,30,30), rgb(60,60,60)) !important;
    cursor: pointer;
}
.promotionBtn.real:hover{
    height: 80px;
}
.promotionBtn.scroll {
    display: table;
    top: 0;right: 0;
    height: 70px; width: 150px;
    border-radius: 0;
}

#mBtn{
    display: none;
}
#mpromotionBtn{
    display: table;
    position: relative;
    height: 70px;
    padding: 0px 20px;
    background: linear-gradient(rgb(0,0,0), rgb(30,30,30)) !important;
    color: white; font-family: 'NEXT ART'; font-size: 14px; font-weight: bold;
    text-align: center;
}
#mpromotionBtn:hover{
    background: linear-gradient(rgb(30,30,30), rgb(60,60,60)) !important;
    cursor: pointer;
}


@media screen and (max-width: 1000px){
    /*HEADER*/
    header{
        height: 50px;
    }
    .headerWrap{
        width: 100px;
    }
    .title{
        display: none;
    }
    .logo{
        height: 30px; width: inherit;
    }
    .promotionBtn.scroll{
        display: none;
    }
    #mBtn{
        display: table;
    }
    #mpromotionBtn{
        height: 50px;
        margin-right: 5px;
    }
    /*MAIN*/
    main{
        width: 100%;
    }
    .pageWidth{
        width: 100%;
    }
    /*FOOTER*/
    .footerContentWrap{
        box-sizing: border-box;
        padding: 0px 40px;
    }
    .footerTitle{
        display: none;
    }
    .footerContentWrap{
        width: auto;
        margin: auto;
    }
    .contactInfo{
        float: none;
    }
}
@media screen and (max-width: 900px){
}
@media screen and (max-width: 720px){
    /*HEADER*/
    header{
        height: 40px;
    }
    .headerWrap{
        width: 80px;
    }
    .title{
        display: none;
    }
    .logo{
        height: 20px; width: inherit;
    }
    .menuBtn{
        padding: 0px 5px; margin: 0px 10px;
        font-size: 14px;
    }
    #mpromotionBtn{
        height: 40px;
        font-size: 11px;
    }

    .background{
        height: 400px;
    }
    .backPlaceholder{
        height: 150px; min-height: 0px;
    }
}
@media screen and (max-width: 500px){
    /*HEADER*/
    header{
        height: 40px;
    }
    .headerWrap{
        width: 50px;
    }
    .title{
        display: none;
    }
    .logo{
        height: 20px; width: inherit;
    }
    .menuBtn{
        margin: 0px 5px;
        font-size: 10px;
    }
    #mpromotionBtn{
        height: 40px;
        padding: 0px 10px;
        font-size: 8px;
    }
    /*FOOTER*/
    .contactInfo{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    .contactInfo{
        font-size: 10px;
    }
}
@media screen and (max-width: 350px){
    /*HEADER*/
    header{
        height: 30px;
    }
    .headerWrap{
        width: 30px;
    }
    .title{
        display: none;
    }
    .logo{
        height: 15px; width: inherit;
    }
    .menuBtn{
        margin: 0px 0px;
        font-size: 9px;
    }
    #mpromotionBtn{
        height: 30px;
        padding: 0px 8px;
        font-size: 7px;
    }

    .contactInfo{
        font-size: 8px;
    }
}

@font-face{
    font-family: "The Next Font";
    src: url(Resources/Common/Fonts/the_next_font/TheNextFont.ttf)
}
@font-face{
    font-family: "NEXT ART";
    src: url('Resources/Common/Fonts/next_art/NEXT ART_Thin.otf');
}
@font-face{
    font-family: "NEXT ART";
    src: url('Resources/Common/Fonts/next_art/NEXT ART_Bold.otf');
    font-weight: bold;
}
@font-face{
    font-family: Gravity;
    src: url(Resources/Common/Fonts/gravity/Gravity-Regular.otf)
}