@{
    Layout = "/_SiteLayout.cshtml";
    Page.Title = "Diskussion";
    <script src="~/facebook.js"></script>
    <script>
        addStylesheet("/diskussion-style.css");
    </script>
    <section>
        <div class="fb-page" data-href="https://www.facebook.com/falkarna" width="500" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/falkarna" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/falkarna">ÖFKs Supporterförening - Falkarna</a></blockquote></div>
    </section>
    <script src="~/common.js"></script>
}