#pageTitle{
    display: table;
    padding: 20px 30px;
    background: white;
}

section{
    display: table;
    position: relative;
    width: 100%; box-sizing: border-box;
    margin: 20px auto;
}
section.dark{
    background: rgb(60,60,60);
}
section.dark .sectionTitle{
    color: white;
}
section.dark .sectionTitle.sub{
    color: rgb(200,200,200);
}
.sectionWrap{
    display: table;
    position: relative;
    width: 1140px; box-sizing: border-box;
    margin: 20px auto;
}
.sectionWrap.top{
    width: 1200px;
    /*margin-top: -250px;*/
}
.sectionTitle{
    margin-top: 20px;
    font-family: 'The Next Font'; font-size: 40px;
    line-height: 50px; 
}
section h1{
    padding: 0px; margin: 0px;
    font-family: 'The Next Font'; font-size: 35px;
    line-height: 40px; 
}
.sectionTitle.sub{
    margin: 10px 0px;
    font-family: "Gravity"; font-size: 15px; color: rgb(90,90,90);
    line-height: 15px; text-transform: uppercase; font-weight: bold; text-indent: 10px;
}

.content{
    display: table;
    position: relative;
    width: 100%;
    margin-top: 25px; margin-bottom: 25px;
}
.content.wide{
    width: 100%;
}
.content p{
    font-family: "Gravity"; font-size: 16px; color: rgb(40,40,40);
    line-height: 1.6;

}
.content.wrap{
    width: 500px;
    padding: 20px 30px; margin: 0px !important;
    background: white;
    font-family: "Gravity"; font-size: 16px; color: rgb(40,40,40);
    line-height: 1.6;

}

.contentImg{
    position: absolute; top: calc(50% - 150px); right: 0;
    width: calc(100% - 560px); height: 400px; box-sizing: border-box;
    padding: 50px;
}
#imgCanvas{
    display: table;
    position: relative;
    width: 100%; height: 100%; box-sizing: border-box;
    background: url(Resources/Gallery/mGal/gal1.jpg) no-repeat center center / cover;
}
    .navBtn{
        position: absolute; top: calc(50% - 25px);
        width: 40px; height: 60px;
        background: rgba(255,255,255,0.8);
        font-size: 16px; color: black;
        line-height: 60px; text-align: center;
        transition: 0.2s;
        user-select: none;
    }
    .navBtn:hover{
        background: rgba(255,255,255,1);
        cursor: pointer;
    }
        .navBtn.next{
            right: 0;
        }
        .navBtn.prev{
            left: 0;
        }
    .imgIdx{
        position: absolute; bottom: 5px; left: calc(50% - 5px);
        width: 50px; height: 20px;
        font-family: "Gravity"; font-size: 15px; color: white; text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
        line-height: 20px; text-align: center;
    }
    #enlargeCanvasCont{
        position: absolute; top: 0; right: 40px; bottom: 0; left: 40px;
        cursor: pointer;
    }
    #enlargeCanvasCont:hover #enlargeCanvasbtn{
        display: table;
    }
        #enlargeCanvasWrap {
            display: table;
            position: relative;
            height: 100%;
            margin: auto;
        }
        #enlargeCanvasPush{
            display: table-cell; vertical-align: middle;
            position: relative;
            height: 100%;
        }
            #enlargeCanvasbtn{
                display: none;
                padding: 10px 15px;
                background: white;
                font-family: 'The Next Font'; font-size: 17px;
                user-select: none;
            }



.content.wide{
    width: 100%;
}



.galleryImgCont{
    display: table; float: left;
    position: relative;
    width: calc(25% - 14px);
    margin: 7px;
}
.galleryImg{
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 90%;
}
.galleryImgPush{
    position: absolute;
    width: 100%; height: 100%;
    font-size: 30px;
    color: white;
}
.galleryImgWrap{
    display: table;
    position: relative;
    height: 100%;
    margin: auto;
}
.galleryImgWrap.text{
    display: table-cell; vertical-align: middle;
    position: relative;
    height: 100%;
    font-family: 'NEXT ART'; color: white; font-size: 0.5em;
    font-weight: bold; 
}
.galleryImgWrap.img{
    display: table;
    position: relative;
    height: 60px; width: 60px;
    margin-bottom: 15px;
    background: no-repeat center center / contain;
}
.btnCover{
    z-index: 5; display: none;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(255,255,255,0.2);
}
.galleryImgCont:hover .btnCover{
    display: block;
}


@media screen and (max-width: 1400px){
    .sectionWrap{
        width: 850px;
    }
}
@media screen and (max-width: 1300px){
    .sectionWrap.top{
        width: 980px; box-sizing: border-box;
    }
    .content.wrap{
        width: 400px; box-sizing: border-box;
    }
    .contentImg{
        width: calc(100% - 460px);
    }
}
@media screen and (max-width: 1000px){
    .sectionWrap.top{
        width: calc(100% - 200px);
        margin-left: auto; margin-right: auto;
    }
    .sectionWrap{
        width: 100%;
    }
    .sectionWrap.pad{
        box-sizing: border-box;
        padding: 30px;
    }
    .content.top{
        
    }
    .content.wrap{
        width: 100%;
    }
    .contentImg{
        position: relative; top: auto;
        width: 100%; height: auto;
        padding: 30px;
    }
    #imgCanvas{
        height: auto;
        padding-bottom: 56.25%;
    }
}
@media screen and (max-width: 850px){
    
}
@media screen and (max-width: 720px){
    .sectionWrap.top{
        width: calc(100% - 100px);
    }
    section h1{
        font-size: 30px;
    }
    .galleryImgCont{
        width: calc(33.333% - 14px);
    }
    .galleryImgWrap.img{
        height: 50px; width: 50px;
    }
    .galleryImgWrap.text {
        font-size: 0.4em;
    }
    .galleryImg{
        padding-bottom: 90%;
    }
    .conteImg{
        padding: 20px;
    }
    #imgCanvas{
        padding-bottom: 75%;
    }

}
@media screen and (max-width: 600px) {
    .sectionWrap.top{
        width: calc(100% - 50px);
    }
    #pageTitle{
        padding: 15px 25px;
    }
    section h1{
        font-size: 25px;
    }
    .content{
        margin: 20px 0px;
    }
    .content p{
        font-size: 13px;
    }
    .galleryImgWrap.img{
        height: 40px; width: 40px;
    }
    /*.galleryImgCont{
        width: calc(50% - 14px);
    }*/
}
@media screen and (max-width: 500px){  
    .sectionWrap.top{
        width: calc(100% - 20px);
    }
    #pageTitle{
        padding: 10px 20px;
    }
    section h1{
        font-size: 20px;
    }
    .sectionWrap.pad{
        padding: 20px;
    }
    .content{
        margin: 15px 0px;
    }
    .content p{
        font-size: 13px;
    }
    .galleryImgWrap.img{
        height: 30px; width: 30px;
        margin-bottom: 5px;
    }
    .galleryImgWrap.text {
        /*font-size: 12px;*/
    }
}
@media screen and (max-width: 400px) {
    .galleryImgCont{
        width: calc(33.333% - 10px);
        margin: 5px;
    }
    .galleryImgWrap.img{
        height: 25px; width: 25px;
    }
    .galleryImgWrap.text {
        font-size: 0.3em;
    }
}
@media screen and (max-width: 300px){
    .galleryImgWrap.text {
        font-size: 0.2em;
    }
}
