section{
    display: table;
    position: relative;
    width: 100%; box-sizing: border-box;
    margin: 20px auto;
}
section.dark{
    background: rgb(60,60,60);
}
section.dark .sectionTitle{
    color: white;
}
section.dark .sectionTitle.sub{
    color: rgb(200,200,200);
}
.sectionWrap{
    display: table;
    position: relative;
    width: 850px; box-sizing: border-box;
    margin: 20px auto;
}
.sectionWrap.top{
    width: 1200px;
    margin-top: -250px;
}
section h1{
    padding: 0px; margin: 0px;
    font-family: 'The Next Font'; font-size: 35px;
    line-height: 40px; 
}
.content{
    display: table;
    position: relative;
    width: 100%;
    margin-top: 25px; margin-bottom: 25px;
}

#pageTitle{
    display: table;
    padding: 20px 30px;
    background: white;
}
.content.top{
    
}
.content.wrap{
    width: 500px;
    padding: 20px 30px; margin: 0px !important;
    background: white;
    font-family: Gravity; font-size: 16px; color: rgb(40,40,40);
    line-height: 1.6;

}
.contentImg{
    display: table;
    position: absolute; top: calc(50% - 150px); right: 0;
    width: calc(100% - 560px); height: 400px; box-sizing: border-box;
    padding: 50px;
}
#imgCanvas{
    display: table;
    position: relative;
    width: 100%; height: 100%; box-sizing: border-box;
    background: url(Resources/Gallery/gal1.jpg) no-repeat center center / cover;
}
.navBtn{
    position: absolute; top: calc(50% - 25px);
    width: 40px; height: 60px;
    background: rgba(255,255,255,0.8);
    font-size: 16px; color: black;
    line-height: 60px; text-align: center;
    transition: 0.2s;
    user-select: none;
}
.navBtn:hover{
    background: rgba(255,255,255,1);
    cursor: pointer;
}
.navBtn.next{
    right: 0;
}
.navBtn.prev{
    left: 0;
}
#imgIdx{
    position: absolute; bottom: 5px; left: calc(50% - 5px);
    width: 50px; height: 20px;
    font-family: Gravity; font-size: 15px; color: white; text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    line-height: 20px; text-align: center;
}
#enlargeCanvasCont{
    position: absolute; top: 0; right: 40px; bottom: 0; left: 40px;
    cursor: pointer;
}
#enlargeCanvasCont:hover #enlargeCanvasbtn{
    display: table;
}
#enlargeCanvasWrap {
    display: table;
    position: relative;
    height: 100%;
    margin: auto;
}
#enlargeCanvasPush{
    display: table-cell; vertical-align: middle;
    position: relative;
    height: 100%;
}
#enlargeCanvasbtn{
    display: none;
    padding: 10px 15px;
    background: white;
    font-family: 'The Next Font'; font-size: 17px;
    user-select: none;
}



.content.wide{
    width: 100%;
}



.sectionTitle{
    margin-top: 20px;
    font-family: 'The Next Font'; font-size: 40px;
    line-height: 50px; 
}
.sectionTitle.sub{
    margin: 10px 0px;
    font-family: Gravity; font-size: 15px; color: rgb(90,90,90);
    line-height: 15px; text-transform: uppercase; font-weight: bold; text-indent: 10px;
}
.content{
    display: table;
    position: relative;
    width: 100%;
}
.content.wide{
    width: 100%;
}
.content p{
    font-family: Gravity; font-size: 16px; color: rgb(40,40,40);
    line-height: 1.6;

}
.galleryImgCont{
    display: table; float: left;
    position: relative;
    width: calc(25% - 14px);
    margin: 7px;
}
.galleryImg{
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 90%;
}
.galleryImgPush{
    position: absolute;
    width: 100%; height: 100%;
}
.galleryImgWrap{
    display: table;
    position: relative;
    height: 100%;
    margin: auto;
}
.galleryImgWrap.text{
    display: table-cell; vertical-align: middle;
    position: relative;
    height: 100%;
    font-family: 'NEXT ART'; color: white; font-size: 18px;
    font-weight: bold; 
}
.galleryImgWrap.img{
    display: table;
    position: relative;
    height: 40px; width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: url(Resources/Common/falksyd_svart_röd4_alt2.png) no-repeat center center / cover;
}


@media screen and (max-width: 1000px){
    .content{
        width: calc(100% - 165px);
    }
}
@media screen and (max-width: 720px){
    .sectionTitle{
        text-indent: 20px;
    }
    .content{
        width: calc(100% - 40px);
    }
    .content.wide{
        width: calc(100% - 40px);
    }
    .galleryImgWrap.text {
        font-size: 17px;
    }
}
@media screen and (max-width: 600px) {
    .galleryImgCont{
        width: calc(50% - 14px);
    }
}
@media screen and (max-width: 500px){  
    .content p{
        font-size: 15px;
    }
    .galleryImgWrap.text {
        font-size: 15px;
    }
}
@media screen and (max-width: 400px) {
    .galleryImgCont{
        width: calc(50% - 10px);
        margin: 5px;
    }
    .galleryImg{
        padding-bottom: 40%;
    }
    .galleryImgWrap.text {
        font-size: 12px;
    }
}
