@{
    Layout = "/_SiteLayout.cshtml";
    Page.Title = "Falkarna Syd";
    <script>
        addStylesheet("/home.css");
    </script>
    <section class="top">
        <div class="sectionWrap top">
            <div id="pageTitle">
                <h1>Falkarna Syd</h1>
            </div>
            <div class="content top">
                <div class="content wrap float-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nihil opus est exemplis hoc facere longius. Ait enim se, si uratur, Quam hoc suave! dicturum. Teneo, inquit, finem illi videri nihil dolere. Materiam vero rerum et copiam apud hos exilem, apud illos uberrimam reperiemus. Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus; Duo Reges: constructio interrete. </p>
                    <p>Atque his de rebus et splendida est eorum et illustris oratio. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum putabit? Sed tu istuc dixti bene Latine, parum plane. Paupertas si malum est, mendicus beatus esse nemo potest, quamvis sit sapiens. Quis istum dolorem timet? </p>
                    <p>Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. Tuo vero id quidem, inquam, arbitratu. Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Sullae consulatum? Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit? Ut in geometria, prima si dederis, danda sunt omnia. Atque his de rebus et splendida est eorum et illustris oratio. </p>
                </div>
                <div class="contentImg">
                    <div class="imgCanvas" id="imgCanvas">
                        <div class="navBtn next" onclick="nextImg(1)">&#9658;</div>
                        <div class="navBtn prev" onclick="prevImg(1)">&#9668;</div>
                        <div class="imgIdx">1/11</div>
                        <div id="enlargeCanvasCont" onclick="openCanvas()">
                            <div id="enlargeCanvasWrap">
                                <div id="enlargeCanvasPush">
                                    <div id="enlargeCanvasbtn">
                                        Förstora bildspel
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dark">
        <div class="sectionWrap pad">
            <div class="sectionTitle">
                <h1>Hitta Mer</h1>
            </div>
            <div class="content wide">
                <div class="sectionTitle sub">Öfk</div>
                <a href="http://www.ostersundsfk.se" target="_blank" title="Östersunds Fotbollsklubb">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background: rgb(50,50,50);">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/öfk-logga.png)"></div>
                                        ÖFKs hemsida
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://www.facebook.com/Ostersundsfk/" target="_blank" title="Östersunds FK - Ostersundsfk">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background:  rgb(73, 106, 175);">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/iconmonstr-facebook-1-240.png)"></div>
                                        Facebook
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://twitter.com/ofk_1996" target="_blank" title="Östersunds FK - ofk_1996">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background: rgb(83, 166, 230);">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/iconmonstr-twitter-1-240.png)"></div>
                                        Twitter
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sectionTitleCont">
            </div>
            <div class="content wide">
                <div class="sectionTitle sub">Falkarna Syd</div>
                <a href="https://www.facebook.com/falkarna/" target="_blank" title="ÖFKs Supporterförening - Falkarna - falkarna">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background: rgb(73, 106, 175);">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/iconmonstr-facebook-1-240.png)"></div>
                                        Facebook
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://twitter.com/Falkarna_OFK" target="_blank" title="Falkarna ÖFK - Falkarna_OFK">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background: rgb(83, 166, 230);">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/iconmonstr-twitter-1-240.png)"></div>
                                        Twitter
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://www.instagram.com/ofk_falkarna/" target="_blank" title="ofk_falkarna">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background: rgb(255,9,155)/*rgb(0, 166, 255)*/;">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/iconmonstr-instagram-11-240.png)"></div>
                                        Instagram
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://www.youtube.com/channel/UCdI494wITep0cKnPsFoMF_g" target="_blank" title="Falkarna">
                    <div class="galleryImgCont">
                        <div class="galleryImg" style="background: rgb(255,0,0);">
                            <div class="galleryImgPush">
                                <div class="btnCover"></div>
                                <div class="galleryImgWrap">
                                    <div class="galleryImgWrap text">
                                        <div class="galleryImgWrap img" style="background-image: url(Resources/Common/Icons/iconmonstr-youtube-6-240.png)"></div>
                                        youTube
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <script src="~/common.js"></script>
}